Source: canorus
Section: sound
Priority: optional
Maintainer: Hermann Voßeler <deb@ichthyostega.de>
Build-Depends: debhelper (>= 10),
	cmake,
	libasound2-dev,
	qtbase5-dev (>= 5.6),
	qttools5-dev (>= 5.6),
	libqt5svg5-dev,
 	qtwebengine5-dev,
	swig3.0 (>= 3.0.8),
	python3-dev (>= 3.4),
	python3-sphinx,
	zlib1g-dev
Standards-Version: 4.0.1
Homepage: http://canorus.org/
Vcs-Git: https://github.com/Ichthyostega/Canorus-deb.git
Vcs-Browser: https://github.com/Ichthyostega/Canorus-deb

Package: canorus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, canorus-data, lilypond (>=2.10)
Suggests: timidity | fluidsynth
Description: graphical music score editor
 Canorus is a graphical music score editor written for the Qt5 toolkit.
 It is a sequel of the well-known music score editor for Linux, NoteEdit.
 Canorus uses LilyPond for music engraving to achieve a very high quality
 in the resulting documents.
 .
 Canorus is extensible by using plugins written in Python or native C++,
 and offers a number of import and export filters for LilyPond,  MusicXML,
 Midi, NoteEdit and others.

Package: canorus-data
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ttf-freefont
Recommends: canorus
Suggests: timidity | fluidsynth
Description: data files for canorus, a graphical music score editor.
 Canorus is a graphical music score editor written for the Qt5 toolkit.
 .
 This package contains architecture independent data files for canorus.
