#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	cmake . -DCMAKE_INSTALL_PREFIX="/usr" -DNO_RUBY=1 -DNO_PYTHON=1

override_dh_installchangelogs:
	dh_installchangelogs NEWS

override_dh_install:
	dh_install
	# Copy the .desktop file, upstream misses that
	cp canorus.desktop $(CURDIR)/debian/canorus/usr/share/applications/
	# Remove FreeSans.ttf, the package depends on ttf-freefont
	rm -rf $(CURDIR)/debian/canorus-data/usr/share/canorus/fonts/FreeSans.ttf

override_dh_clean:
	dh_clean
	# Preserve handwritten Makefiles during clean
	mv doc/usersguide/Makefile doc/usersguide/Makefile.upstream
	mv doc/developersguide/Makefile doc/developersguide/Makefile.upstream
	# Remove left over files from upstream (there is no distclean target)
	find -type f -name "*\.qm" | xargs rm -f
	find -type f -name "*\.cmake" | xargs rm -f
	find -type f -name "Makefile" | xargs rm -f
	find -type f -name "CMakeCache\.txt" | xargs rm -f
	find -type f -name "install_manifest\.txt" | xargs rm -f
	find -type d -name "CMakeFiles" | xargs rm -rf
	# Restore handwritten Makefiles after clean
	mv doc/usersguide/Makefile.upstream doc/usersguide/Makefile
	mv doc/developersguide/Makefile.upstream doc/developersguide/Makefile

#
# TODO:
# Upon a new upstream release, the repackaging of the upstream
# tarball should no longer be necessary, since dpkg can now cope
# with a debian directory inside the upstream tarball.
#
# NOTE:
# Make sure to *not* use the included zlib sources for linking,
# but the library provided by Debian.

UPSTREAM_VERSION=0.7.R1002
PACKAGE_VERSION=0.7
get-orig-source:
	rm -rf canorus-$(PACKAGE_VERSION)/
	tar xjf canorus_$(UPSTREAM_VERSION)_source.tar.bz2
	# Most importantly, remove upstream's debian directory
	find canorus-$(UPSTREAM_VERSION)/ -type d -name "debian" | xargs rm -rf
	# Remove upstream's building information
	find canorus-$(UPSTREAM_VERSION)/ -type d -name "\.settings" | xargs rm -rf
	find canorus-$(UPSTREAM_VERSION)/ -type d -name "\.externalToolBuilders" | xargs rm -rf
	find canorus-$(UPSTREAM_VERSION)/ -type f -name "\.*project" | xargs rm -rf
	# Remove files for different platforms
	find canorus-$(UPSTREAM_VERSION)/ -type d -name "windows" | xargs rm -rf
	find canorus-$(UPSTREAM_VERSION)/ -type d -name "macosx" | xargs rm -rf
	# Remove zlib directory
	find canorus-$(UPSTREAM_VERSION)/ -type d -name "zlib" | xargs rm -rf
	mv canorus-$(UPSTREAM_VERSION)/ canorus-$(PACKAGE_VERSION)/
	tar czf canorus_$(PACKAGE_VERSION).orig.tar.gz canorus-$(PACKAGE_VERSION)/

# TODO: Provide a target to re-create the xpm pixmap for the menu
# This requires gm to be installed
create-menu-pixmap:
	# This does not work, the pixmaps are generated by hand with gimp
	#gm convert -resize 32x32 src/ui/images/clogosm.png debian/canorus-32x32.xpm
	#gm convert -resize 16x16 src/ui/images/clogosm.png debian/canorus-16x16.xpm
